body {
  background: azure;
}

.text-image-background {
  font-family: "Lato", sans-serif;
  font-size: 240px;
  text-align: center;
  text-transform: uppercase;
  background-image: url("jalanraya.jpg");
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
